{% load static %}

{{ messages }}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<hr>
<form method="post" action="/" class="form">
    <!-- Mandatory; Like CORS in Nodejs -->
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title">
    <textarea type="text" name="content" placeholder="Content here"></textarea>
    <input type="submit" value="Send">
</form>
<div class="container">
    {% for message in messages %}
        <div class="container-message">
            <div class="container-title">{{ message.title }}</div>
            <div class="container-content">{{ message.content }}</div>
            <div class="container-date">{{ message.created_at }}</div>
            <div class="container-user">{{ message.user.username }}</div>
        </div>
    {% endfor %}
</div>